In [2]:
x = b'El ni\xc3\xb1o come camar\xc3\xb3n'
s = x.decode()
print(type(x))
print(type(s))
print(s)

<class 'bytes'>
<class 'str'>
El niño come camarón

In [3]:
x = b'\x'
print(x)

SyntaxError: (value error) invalid \x escape at position 0 (<ipython-input-3-086f1fe7fd9a>, line 1)

In [6]:
x = ord('м')
print(x)

1084

In [8]:
#create a bytes object
y = b'Python bytes'
#generates a list of codes from the characters of bytes
z = list(y)
print(y)
print(z)

b'Python bytes'
[80, 121, 116, 104, 111, 110, 32, 98, 121, 116, 101, 115]

In [10]:
s1 = {'a','b','c'}
s2 = {'a','b'}
s3 = s1-s2
print(s3)

{'c'}

In [11]:
len(s1)

3

In [14]:
def find_added_columns(new_set,prev_set):
    res = set()
    for new in new_set:
        if new not in prev_set:
            res.add(new)
    return res

def find_deleted_columns(new_set, prev_set):
    res = set()
    for prev in prev_set:
        if prev not in new_set:
            res.add(prev)
    return res

In [15]:
res1 = find_added_columns(s1,s2)
print(res1)

res2 = find_deleted_columns(s2,s1)
print(res2)

{'c'}
{'c'}

In [17]:
a = [1, 0, 1]
print(f"Unpacked list: {*a,}")
table_name = 'active'

Unpacked list: (1, 0, 1)

In [19]:
c = ['ltc','btc','eth']
s = f"INSERT INTO {table_name}({*c,}) VALUES({*a,})"
print(s)

INSERT INTO active(('ltc', 'btc', 'eth')) VALUES((1, 0, 1))

In [21]:
n = 'table_name'
c1 = ('symbols','prices')
c2 = 'symbols'
t1 = ('text','text')
t2 = 'text'


z = list(zip(c1,t1))
q = zip(c1,t1)
res = [item[0] + " " + item[1] for item in q]
print(res)
cmd = ",".join(res)
print(cmd)

['symbols text', 'prices text']
symbols text,prices text

In [ ]:

if isinstance(cols,str) or  not isinstance(cols,Sequence):
    cmd = f"CREATE TABLE IF NOT EXISTS {n} ({c2, t2})"
else
    cmd = f"CREATE TALBE IF NOT EXISTS {n} "

In [ ]:
cmd_string = 'CREATE TABLE IF NOT EXISTS ' + '"' + name + '"' + \
                        ' (' + ','.join(col_heads) + ')'