In [4]:
import sqlite3

db = sqlite3.connect('test.db', timeout=10)

c = db.cursor()

c.execute('''CREATE TABLE stocks
           (date text, trans text, symbol text, qty real, price real)''')
db.commit()

In [9]:
table_name = 'stocks'
cols = ['date','trans','symbol','qty','price']
vals = ['2006-01-05','BUY','RHAT','100','35.14']
cmd = f"INSERT INTO {table_name}{*cols,} VALUES{*vals,}"

#print(cmd)
c.execute(cmd)
db.commit()

In [10]:
c.execute(f"SELECT * FROM {table_name}")
print(c.fetchall())

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]

In [14]:
cols2 = ('date','symbol','qty','price')
vals2 = ('2006-01-05','RHAT','100','35.14')
cmd = f"INSERT INTO {table_name}{*cols2,} VALUES{*vals2,}"
c.execute(cmd)
db.commit()

c.execute(f"SELECT * FROM {table_name}")
print(c.fetchall())

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', None, 'RHAT', 100.0, 35.14), ('2006-01-05', None, 'RHAT', 100.0, 35.14), ('2006-01-05', None, 'RHAT', 100.0, 35.14), ('2006-01-05', None, 'RHAT', 100.0, 35.14)]

In [62]:
row_num = 1
cols = ['price', 'trans']
vals = '100.5'
#cols = ['date','trans','symbol','qty','price']
#vals = ['2012-01-05','BUY','RHAT','100','40.14']
cmd2 = f"UPDATE {table_name} SET {cols} = '{vals}' WHERE rowid = {row_num}"
#print(cmd2)
cmd = f"INSERT INTO {table_name}({cols}) VALUES('{vals}')"
c.execute(cmd2)
db.commit()

c.execute(f"SELECT * FROM {table_name}")
print(c.fetchall())

OperationalError: no such column: 'price', 'trans'

In [71]:
col = 12
test = ",".join(col)
print(test)

TypeError: can only join an iterable

In [75]:
cols = 'price'
c_string = ",".join(cols)

cmd1 = "SELECT " + c_string + f" FROM {table_name} WHERE rowid = {row_num}"
cmd2 = f"SELECT {cols} FROM {table_name} WHERE rowid = {row_num}"
print(cmd)
c.execute(cmd2)
print(c.fetchall())

SELECT price,trans FROM stocks WHERE rowid = 1
[(100.5,)]

In [21]:
t = ['a','b']
t2 = ('a','b')

In [72]:
y1 = f"hello {table_name}"
y2 = "string"
print(y1+y2)

hello stocksstring

In [51]:
u = ['a','b','c']
f, *l = u
print(l)

['b', 'c']

In [59]:
from collections.abc import Sequence
l = [1,2,3]
t = 'test'
t1 = 1.1
print(isinstance(t1, Sequence))

False

In [60]:
e = 1
b = tuple(e)
print(b)

TypeError: 'int' object is not iterable

In [80]:
n = ['helo', 'pair']
for f in n:
    print(f)

helo
pair

In [81]:
sn = set(n)

In [82]:
print(sn)

{'pair', 'helo'}

In [83]:
dc = dict(n)
print(dc)

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [84]:
from collections import defaultdict
dc = defaultdict(float)


for i in range(3):
    dc[str(i)] = i* 0.3
    
print(dc)

defaultdict(<class 'float'>, {'0': 0.0, '1': 0.3, '2': 0.6})

In [85]:
import time

print(time.time())

1601958056.3543072

In [86]:
cols = list(dc.keys())
vals = list(dc.values())
print(cols)
print(vals)

['0', '1', '2']
[0.0, 0.3, 0.6]

In [87]:
n = ['helo', 'pair']
u = 'time'
e = u + n

TypeError: must be str, not list

In [ ]:
w = 0.