In [4]:
import sqlite3

db = sqlite3.connect('test.db', timeout=10)

c = db.cursor()

c.execute('''CREATE TABLE stocks
           (date text, trans text, symbol text, qty real, price real)''')
db.commit()

In [9]:
table_name = 'stocks'
cols = ['date','trans','symbol','qty','price']
vals = ['2006-01-05','BUY','RHAT','100','35.14']
cmd = f"INSERT INTO {table_name}{*cols,} VALUES{*vals,}"

#print(cmd)
c.execute(cmd)
db.commit()

In [10]:
c.execute(f"SELECT * FROM {table_name}")
print(c.fetchall())

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]

In [14]:
cols2 = ('date','symbol','qty','price')
vals2 = ('2006-01-05','RHAT','100','35.14')
cmd = f"INSERT INTO {table_name}{*cols2,} VALUES{*vals2,}"
c.execute(cmd)
db.commit()

c.execute(f"SELECT * FROM {table_name}")
print(c.fetchall())

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', None, 'RHAT', 100.0, 35.14), ('2006-01-05', None, 'RHAT', 100.0, 35.14), ('2006-01-05', None, 'RHAT', 100.0, 35.14), ('2006-01-05', None, 'RHAT', 100.0, 35.14)]

In [49]:
row_num = 1
cols = 'price'
vals = '100.5'
#cols = ['date','trans','symbol','qty','price']
#vals = ['2012-01-05','BUY','RHAT','100','40.14']
cmd2 = f"UPDATE {table_name} SET {cols} = '{vals}' WHERE rowid = {row_num}"
#print(cmd2)
cmd = f"INSERT INTO {table_name}({cols}) VALUES('{vals}')"
c.execute(cmd2)
db.commit()

c.execute(f"SELECT * FROM {table_name}")
print(c.fetchall())

[('2013-01-05', 'SELL', 'RHAT', 100.0, 100.5), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', None, 'RHAT', 100.0, 35.14), ('2006-01-05', None, 'RHAT', 100.0, 35.14), ('2006-01-05', None, 'RHAT', 100.0, 35.14), ('2006-01-05', None, 'RHAT', 100.0, 35.14), ('2013', None, None, None, None), ('2020-01-05', 'BUY', None, None, None), ('2013', None, None, None, None), ('2019-01-05', None, None, None, None)]

In [33]:
cmd = f"SELECT * FROM {table_name} WHERE rowid = {row_num}"
c.execute(cmd)
print(c.fetchall())

[('2017-01-05', 'BUY', 'RHAT', 100.0, 40.14)]

In [21]:
t = ['a','b']
t2 = ('a','b')

In [24]:
print(tuple(t)==t2)

True

In [50]:
u = []

for i in u:
    print('h')