In [24]:
import sqlite3

In [25]:
conn = sqlite3.connect('example2.db', timeout = 10)

In [ ]:
c.execute('''CREATE TABLE test
           (da text, trans text, symbol text, qty real, price real)''')
conn.commit()

In [42]:
# Create table
c.execute('''CREATE TABLE stocks
           (date text, trans text, symbol text, qty real, price real)''')
conn.commit()

In [26]:
c = conn.cursor()

In [61]:


# Create table
#c.execute('''CREATE TABLE stocks
           #(date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
#conn.close()

OperationalError: database is locked

In [3]:
conn2 = sqlite3.connect('example.db')
print(conn2)

<sqlite3.Connection object at 0x7faca88f0ab0>

In [4]:
c = conn2.cursor()

In [27]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print('stocks' in c.fetchall()[0])

True

In [87]:
t = 'LTCBTC'
t2 = t[:-3]
print(t2)

LTC

In [6]:
t = ('rhat')
t2 = ('rhat',)

In [23]:
cn = ('a','b','c')
ct = ('text','text','text')
t = zip(cn,ct)
l = list(t)
for i in t:
    l.append(' '.join(i))
print(l)

['a text', 'b text', 'c text']

In [10]:
type(t2)ddasf

SyntaxError: invalid syntax (<ipython-input-10-60535cdcc4ea>, line 1)

In [13]:
table_name = 'symbols'
s = f"SELECT * FROM {table_name}"
print(s)

SELECT * FROM symbols

In [37]:

c.execute("INSERT INTO stocks VALUES ('strftime('%s','now')','BUY','RHAT',100,35.14)")
c.execute('SELECT * FROM stocks')
print(c.fetchall())

OperationalError: near "','": syntax error

In [32]:
# Do this instead
t = ('RHAT',)
c.execute('SELECT * FROM stocks')
print(c.fetchall())

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]

In [12]:
# Larger example that inserts many records at a time
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

In [49]:
c.execute('SELECT * FROM stocks')
print(c.fetchall())

cmd = "UPDATE stocks SET date = 'hello' LIMIT 1"
c.execute(cmd)

c.execute('SELECT * FROM stocks')
print(c.fetchall())

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]
[('hello', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14), ('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]

In [39]:
c.execute('DROP TABLE stocks')

In [62]:
c.execute('SELECT * FROM stocks')
for r in c:
    print(r)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [40]:
conn.commit()

In [71]:
c.execute('SELECT * FROM sqlite_master')
for r in c:
    print(r)

('table', 'stocks', 'stocks', 2, 'CREATE TABLE stocks\n           (date text, trans text, symbol text, qty real, price real)')

In [82]:
c.execute('PRAGMA table_info(stocks)')
for r in c:
    print(r)

(0, 'date', 'text', 0, None, 0)
(1, 'trans', 'text', 0, None, 0)
(2, 'symbol', 'text', 0, None, 0)
(3, 'qty', 'real', 0, None, 0)
(4, 'price', 'real', 0, None, 0)

In [81]:
c.execute('SELECT count(name) FROM sqlite_master WHERE type= ? AND name = ?', ('table','stocks1'))
#c.execute('SELECT * FROM sqlite_master')
print(c.fetchone()[0])

0

In [47]:
n = [1, 2, 3, 4, 5, 6 ,7]

print(n[-3::])

[5, 6, 7]